.table td{
    vertical-align: middle;
}

.list-wrapper{
  border: 1px solid #e0e0e0;
  padding: 0.5rem;              /* extra inner spacing */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.04);
  margin-left: 16px;
}
